{%extends 'template.html'%}
{%block title%}
<title>О приложении</title>
{%endblock%}
{%block content%}
<div class="container">
    <div class="jumbotron mt-5">
      <h1>О приложении</h1>
      <p>Название приложения: "Тетрис"</p> 
      <p>Разработчик: Оверчук Никита Викторович</p>
      <p>Группа: 3-Т30-205Б-16</p>
    </div>
</div>
{%endblock%}