{%extends 'template.html'%}
{%block title%}
<title>Как играть?</title>
{%endblock%}
{%block content%}
<div class="container">
    <div class="jumbotron mt-5">
        <h1>Управление</h1> 
        <p>Клавиша <i class="fas fa-arrow-up"></i> - поворачивать фигуру</p>
        <p>Клавиша <i class="fas fa-arrow-left"></i> - повернуть фигуру влево</p>
        <p>Клавиша <i class="fas fa-arrow-right"></i> - повернуть фигуру вправо</p>
        <p>Клавиша <i class="fas fa-arrow-down"></i> - ускорить падение фигуры</p>
        <p>Каждые 30 секунд скорость падения фигур увеличивается</p>
    </div>
</div>
{%endblock%}