{%extends 'template.html'%} {%block title%}
<title>Главная страница</title>
{%endblock%} {%block css%}
<link href="css/main.css" rel="stylesheet"> {%endblock%} {%block content%}
<div class="container">
  <div class="row mt-5">
    <div class="col-lg-4 col-md-6 p-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Тетрис</h5>
          <p class="card-text">Окунитесь в игру и почувствуйте ностальгию</p>
          <a href="/tetris" class="card-link">Играть</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 p-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Таблица очков</h5>
          <p class="card-text">Просмотреть результаты игроков, сыгравших в игру</p>
          <a href="/scores" class="card-link">Смотреть</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 p-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Управление</h5>
          <p class="card-text">Узнайте как управлять фигурками в игре</p>
          <a href="/howto" class="card-link">Узнать</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 p-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">О приложении</h5>
          <p class="card-text">Информация о создателе приложения</p>
          <a href="/about" class="card-link">Больше</a>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}