{%extends 'template.html'%}
{%block title%}
<title>Результаты</title>
{%endblock%}
{%block css%}
<link href="css/scores.css" rel="stylesheet">
{%endblock%}
{%block content%}
<div class="container">
    <div class="row">
        <table class="scores mt-5">
            <tr>
                <th>ID</th>
                <th>Никнейм</th>
                <th>Счет</th>
            </tr>
            {%for item in scores%}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.score}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
{%endblock%}