{%extends 'template.html'%}
{%block css%}
<link rel="stylesheet" href="css/tetris.css"/>
{%endblock%}
{%block content%}
<div class="wrap">
    <canvas id="canvas"></canvas>
    <div class="modal-fallback">
        <div class="modal-window">
            <form>
                <h5 class="score-val"></h5>
                <div class="form-group">
                    <input type="name" class="form-control input-score" placeholder="Введите ваш никнейм" aria-describedby="nameHelp">
                    <small id="nameHelp" class="form-text text-muted">Никнейм должен состоять не менее чем из 6 букв</small>
                </div>
                <button type="button" class="send-name btn btn-default btn-block" onclick="tetris.SendScore();" disabled>Играть заново</button>
            </form>
        </div>
    </div>
    <div class="popup-window close">
        <p class="popup-text"></p>
    </div>
</div>

{%endblock%}
{%block js%}
<script src='js/app.js'></script>
<script src='js/Consts.js'></script>
<script src='js/Shapes.js'></script>
<script src='js/Tetris.js'></script>
<script type="text/javascript">
    var tetris = new Tetris(document.getElementById('canvas'));
    tetris.Play();
</script>
{%endblock%}