.scores {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.scores td, .scores th {
    border: 1px solid #ddd;
    padding: 8px;
}

.scores tr:nth-child(even){background-color: #f8f9fa;}

.scores tr:hover {background-color: #ddd;}

.scores th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #007bff;
    color: white;
}