body{
    background-color: whitesmoke;
}

.wrap{
    height: 100%;
}

#canvas{
    margin: 0 auto;
    padding: 0 auto;
    display: block;
}

.modal-fallback{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
}

.modal-window {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

.modal-fallback.show{
    display: block;
}

.popup-window{
    position: absolute;
    overflow: hidden;
    left: 25%;
    right: 25%;
    top: 0;
    height: auto;
    transition: max-height 1s ease-in-out;
    border-radius: 0 0 0.8rem 0.8rem;
}

.popup-window.open{
    max-height: 15%;
}

.popup-window.close{
    max-height: 0;
}

.popup-window .popup-text{
    text-align: center;
    color: white;
    padding: 0.8rem 0;
    font-size: 1.2rem;
}